{% extends 'dashboard.html' %}

{% block contain %}
<form method="post" action="{% url 'update_record' record.id %}">
{% csrf_token %}
<div class="row">
  <div class="mb-3 col-lg-6 form-group">
    <label for="exampleInputFirstName" class="form-label">First Name</label>
    <input type="text" name="first_name" class="form-control" value="{{ record.first_name }}" id="exampleInputFirstName">
  </div>
  <div class="mb-3 col-lg-6 form-group">
    <label for="exampleInputLastName" class="form-label">Last Name</label>
    <input type="text" name="last_name" class="form-control" value="{{ record.last_name }}" id="exampleInputLastName">
  </div>
    <div class="mb-3 col-lg-6 form-group">
    <label for="exampleInputAddress" class="form-label">Address</label>
    <input type="text" name="address" class="form-control" value="{{ record.address }}" id="exampleInputAddress">
  </div>
    <div class="mb-3 col-lg-6 form-group">
    <label for="exampleInputEmail" class="form-label">Email</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail" value="{{ record.email }}">
  </div>
    <div class="mb-3 col-lg-6 form-group">
    <label for="exampleInputCity" class="form-label">City</label>
    <input type="text" name="city" class="form-control" value="{{ record.city }}" id="exampleInputCity">
  </div>
    <div class="mb-3 col-lg-6 form-group">
    <label for="exampleInputState" class="form-label">State</label>
    <input type="text" name="state" class="form-control" value="{{ record.state }}" id="exampleInputState">
  </div>
    <div class="mb-3 col-lg-6 form-group">
    <label for="exampleInputPostCode" class="form-label">Post Code</label>
    <input type="number" name="post_code" class="form-control" value="{{ record.post_code }}" id="exampleInputPostCode">
  </div>
    <div class="mb-3 col-lg-6 form-group">
    <label for="exampleInputDate" class="form-label">Job Date</label>
    <input type="date" name="job_date" class="form-control" value="{{ record.job_date|date:'Y-m-d' }}" id="exampleInputDate">
  </div>
    <div class="mb-3 col-lg-6 form-group">
    <label for="exampleInputTime" class="form-label">Job Time</label>
    <input type="time" name="job_time" class="form-control" value="{{ record.job_time|time:'G:i:s' }}" id="exampleInputTime">
  </div>
    <div class="mb-3">
    <label for="exampleInputJobDetail" class="form-label">Job Details</label>
    <textarea name="job_detail" class="form-control" id="exampleInputServiceReport" rows="4" cols="50">{{ record.job_detail }}
    </textarea>
  </div>
  <button type="submit" class="col-1 btn btn-primary">Submit</button>
</div>
</form>
{% endblock %}